<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="/css/payCompleted.css"/>
    <title>주문 내역</title>
    <style></style>
    <script src="/build/userContext.js" defer></script>
    <script src="/build/util.js" defer></script>
    <script>
        $(document).ready(() => {
            const flowerBox = (element, priceArr) => {
                    const box = document.createElement("div");
                    box.setAttribute("class", "orderDetailBox");
                    const boxHtml =
                        `
                        <img
                          class="flowerImg"
                          src="http://localhost:9000/image/florist_product/${element.floristMainImage}"
                          alt=""
                        />
                        <div class="flowerInfoBox">
                          <span class="flowerName">${element.flowerName}</span>
                          <br>
                          <span class="flowerCount">${element.pickUpOrderDetailCount} 개</span>
                          <span class="flowerPrice">가격 : ${numberAddComa(element.floristProductPrice)}</span>
                          <br>
                          <span class="flowerFullPrice">총 가격 : ${numberAddComa(element.floristProductPrice * parseInt(element.pickUpOrderDetailCount))}</span>
                        </div>
                        `;
                    box.innerHTML = boxHtml;
                    priceArr.push(element.floristProductPrice * parseInt(element.pickUpOrderDetailCount));
                    document.querySelector(".productArea").append(box);
            }
            const orderNumber = parseInt($(".orderNumber").val());

            $(".close").on("click", () => {
                window.close();
            });

            $.ajax({
                url: "http://localhost:9000/api/v1/pick_up_order/success/orderDetail",
                method: "post",
                data: {orderNumber: orderNumber},
            }).then((r) => {
                const priceArr = [];
                r = Object.values(r).flat();
                console.log(r)
                r.forEach(data => {
                    flowerBox(data,priceArr);
                });
                // 주문 시간 표시
                document.querySelector(".orderDate").textContent = `
            주문 날짜 :
            ${new Date(r[0].pickUpOrderDate).toLocaleDateString()}
            `;
                document.querySelector(".pickUpOrderReservationDate").textContent = `
            ${r[0].pickUpOrderReservationDate}
            `;
                document.querySelector(".pickUpOrderReservationTime").textContent = `
            ${r[0].pickUpOrderReservationTime}
            `;
                document.querySelector(".orderAllPriceSpan").textContent = `총 가격 : ${numberAddComa(priceArr.reduce((pre, cur) => pre + cur), 0)}`;
            });
        });
    </script>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="/css/payCompleted.css"/>
    <title>주문 내역</title>
    <style></style>
    <script src="/build/userContext.js" defer></script>
    <script src="/build/util.js" defer></script>
</head>
<body>
<header class="header">
    <img src="/image/logo최종.png" alt="logo" class="logo"/>
    <menu>
        <span><a href="/pick_up">PickUp</a></span>
        <span><a href="/shopping">Shopping</a></span>
        <span><a href="/recommend">Recommend</a></span>

    </menu>
    <nav class="userBox"></nav>
</header>
<main>
    <div class="resultArea">
        <div class="orderInfo">
            <div class="result">결제가 완료 되었습니다.</div>
            <br/>
            <div class="orderDate"></div>
        </div>
        <br/>
        <h2 class="orderPresentText">주문 내역</h2>
        <br/>
        <div class="pickUpReservationBox">
            <span>예약하신 날짜 : </span>
            <span class="pickUpOrderReservationDate"></span>
            <span class="pickUpOrderReservationTime"></span>
        </div>
        <div class="orderAllPrice">
            <span class="orderAllPriceSpan"></span>
        </div>
        <div class="productArea"></div>
        <div class="btnBox">
            <button class="btn btn-outline-success success"><a href="/">홈으로 돌아가기</a></button>
            <button class="btn btn-outline-success success"><a href="/my_page">마이 페이지</a></button>
        </div>
    </div>
    <input type="hidden" class="orderNumber" th:value="${orderId}"/>
</main>
<footer>
    <div class="footerWrapper">
        <div class="footerTop">
            <ul class="footerListText">
                <li class="footerText"><a href="/FAQ">고객센터</a></li>
                <li class="footerText"><a href="/privacy">개인정보처리방침</a></li>
            </ul>
        </div>
        <div class="footerCenter">
            <div class="line"></div>
        </div>
        <div class="footerBottom">
            <ul class="footerListText">
                <li class="footerText">사업자 명 : 블룸 포엠</li>
                <li class="footerText">대표자 명 : 임성종</li>
                <li class="footerText">
                    오시는 길 : 인천 미추홀구 매소홀로488번길 6-32 태승빌딩 5층(1층 홈플러스)
                </li>
                <li class="footerText">연락처 : 032-876-3332</li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>
