/*      Root         */
:root {
    /*    Color    */
    --color-true-black: #000000;
    --color-black: #181818;
    --color-light-gray: #6d6d6d;
    --color-gray: #565656;
    --color-dark-gray: #424242;
    --color-white: #f5f5f5;
    --color-true-white: #ffffff;
    --color-red: #ea3323;
    --color-blue: #3ea4f8;
    --color-sky-blue: #5ca4f8;
    --color-sun-gray: #d6d6d6;
    --color-cream-melon: #dcf8e4;
    --color-light-sky-blue: #b9eeff;
    --color-banana: #ffe062;
    --color-ivory: #fff3d4;
    --color-light-purple: #cc94c4;
    --color-violet: #a8b3d8;
    --color-light-white: #ebebeb;
    --color-cherry-blossom: #f8d1d1;

    /*  Size    */
    --size-border-radius: 4px;
    /*    Font  Size     */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
    /*    Font Weight    */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
    /*    Animation    */
    --animation-duration: 300ms;
}

/* reset.css */
html, body, div, span, applet, object, iframe, /**/
h1, h2, h3, h4, h5, h6, p, blockquote, pre, /**/
a, abbr, acronym, address, big, cite, code, /**/
del, dfn, em, img, ins, kbd, q, s, samp, /**/
small, strike, strong, sub, sup, tt, var, /**/
b, u, i, center, /**/
dl, dt, dd, ol, ul, li, /**/
fieldset, form, label, legend, /**/
table, caption, tbody, tfoot, thead, tr, th, td, /**/
article, aside, canvas, details, embed, /**/
figure, figcaption, footer, header, hgroup, /**/
menu, nav, output, ruby, section, summary, /**/
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, /**/
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* page css */
* {
    box-sizing: border-box;
    font-size: 1.5rem;
    user-select: none;
}
body {
    line-height: 1;
    font-family: "나눔스퀘어 네오";

}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before, blockquote:after, /**/
q:before, q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* style css start */
header {
    background-color: var(--color-true-white);
    height: 100px;
    width: 100vw;
    display: grid;
    align-items: center;
    color: var(--color-black);
    font-weight: 400;
    justify-content: space-around;
    grid-template-columns: 300px 1fr 320px;
    border-bottom: 2px solid var(--color-light-gray);
    box-sizing: content-box;
    background-color: #fff3d4;
}
.logo {
    height: 80px;
    width: 254px;
    margin-left: 20px;
    cursor: pointer;
}
.logoBox {
    width: 15%;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
span {
    font-size: 1.5rem;
    color: #000;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
}
menu {
    font-weight: 400;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav span {
    color: #000;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
}
nav span:after {
    margin-top: 5px;
    display: block;
    content: "";
    border-bottom: solid 3px var(--color-dark-gray);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}
nav span:hover:after {
    transform: scaleX(1);
}
nav .fromRight:after {
    transform-origin: 100% 50%;
}
nav .fromLeft:after {
    transform-origin: 0% 50%;
}
footer {
    width: 100vw;
    font-weight: 400;
    background-color: #000;
    border-top: 2px solid var(--color-light-gray);
}
main{
    display: grid;
    grid-template-columns: 150px 1250px;
    grid-template-rows: 100px 650px;
    grid-template-areas:
  ". nav"
  "side main";
    justify-content: center;
    align-content: center;
}
.navArea{
    grid-area: nav;
    display: flex;
    align-items: center;
}
.pageName{
    margin-left: 400px;
}
.sideArea{
    grid-area: side;
    font-size: medium;
    display: flex;

}
.mainArea{
    grid-area: main;
}
.sideArea li{
    margin: 30px 0 30px 0;
}
.title li {
    font-weight: bold;

}
.subTitle li{
    text-align: left;
    font-weight: 100;
}
.mainBox{
    width: 1260px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.pickUpArea{
    /* 경계구분용 */
    background-color: #3ea4f84e;
    height: 290px;
}
.shoppingArea{
    /* 경계구분용 */
    background-color: #ffe06257;
    height: 290px;
}
.sideBox{
    width: 100%;
}
.period{
    text-align:  right;
    font-size: 1.1rem;
    margin-right: 30px;
}
.period span {
    font-size: 1.1rem;
}
.oneProductArea{
    display: flex;
}
.result{
    font-size: 2rem;
    font-weight: bold;
}
.oneProductArea{

    display:grid;
    grid-template-columns: 230px 150px 50px;
    grid-template-rows: repeat(3, 80px);
    grid-template-areas:
  "productImage productName productName"
  "productImage productQuantity review"
  "productImage productPrice productPrice";
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-size: medium;
    margin: 5px;
}
.productArea{
    overflow-y: scroll;
    grid-area: productArea;
    border-right: 1px solid rgba(0, 0, 0, 0.204);
}
a {
    text-decoration: none;
    color: #191919;
}
a:hover{
    color: #191919;
}
.oneProductImage{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.oneProductName{
    font-weight: bold;
    grid-area: productName;
}
.oneProductImage{
    grid-area: productImage;
}
.oneProductQuantity{
    grid-area: productQuantity;
}
.oneProductPrice{
    grid-area: productPrice;
}
.productArea::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}
.productArea::-webkit-scrollbar-thumb {
    height: 30px;
    background: black;
}
.orderBox{
    margin: 30px 0px 20px 30px;
    width: 1250px;
    height: 250px;
    display: grid;
    grid-template-columns: 450px 800px ;
    grid-template-rows: 60px 100px 90px;
    grid-template-areas:
  "productArea orderInfoBox"
  "productArea orderStatusBox"
  "productArea orderTotalBox";
    border-top: 1px solid black;

}
.reviewButton{
    grid-area: review;
    width: 100%;
    height: 90%;
    font-size: 0.75rem;
}
.orderInfoBox{
    grid-area: orderInfoBox;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
}
.orderInfoBox div{
    margin-left: 40px;
    font-size: 0.8rem;
}
.orderStatusBox{
    grid-area:  orderStatusBox;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.orderTotalBox{
    grid-area: orderTotalBox;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.question{
    font-size: medium;
    display: flex;
    flex-direction: column;
}
.btn{
    margin-top: 10px;
    padding: 3px;
}
.sideBox{
    border-right: 1px solid black ;
    width: 100%;
}
/* 모달 관련 css  */
.inputLabel{
    padding: 5px;
    background-color: #fff3d4;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 0px 1px 0px 1px rgba(0, 0, 0, 0.45);
}
input[type=text] {
    border : 2px solid skyblue;
    border-radius : 5px;
}
.inputText{
    width: 300px;
    height: 50px;
}
.modalHeader{
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.area1 span, .area1 option{
    font-size: 1.1rem;
}

.modalBody{
    display: flex;
    justify-content: space-evenly;
}
.modalBox{
    width: 450px;
    height: 130px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
}
.modalArea{
    background-color: #00000030;
}
.close{
    cursor: pointer;
}
.modal{
    display: none;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content{
    background-color: white;
    /* left +60px  top -10px*/
}
.pagingButton{
    display: flex;
    justify-content: center;
}
.pagingButton button{
    padding: 6px;
    margin: 0 0 0 10px;
}
.orderTotalBox{
    padding: 0 150px 0 200px;
}
.shoppingReviewArea{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(2 , 600px);
    grid-template-rows: repeat(3, 165px);
    grid-gap: 25px;
    justify-content: center;
    align-content: center;
}
.shoppingReviewOneBox{
    display: grid;
    height: 161px;
    grid-template-columns: 200px 280px 70px 50px;
    grid-template-rows: 20px 70px 70px;
    grid-template-areas:
    "shoppingOrderNumber shoppingRegDate . ."
  "shoppingReviewImage shoppingProductName  shoppingReviewScore shoppingReviewModify"
  "shoppingReviewImage shoppingReviewContent shoppingReviewContent shoppingReviewDelete";
    font-size: 1.2rem;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.29) ;
}
.shoppingOrderDate{
    grid-area:shoppingOrderNumber;
    font-size: 1.0rem;
    color: #6d6d6d;
}
.shoppingReviewRegDate{
    grid-area:shoppingRegDate ;
    font-size: 1.0rem;
    color: #6d6d6d;
}
.shoppingReviewScore{
    grid-area: shoppingReviewScore;
}
.shoppingReviewImage{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.shoppingReviewImage{
    grid-area: shoppingReviewImage;
}
.shoppingProductName{
    grid-area: shoppingProductName;
    font-weight: bold;
}
.shoppingReviewModify{
    grid-area: shoppingReviewModify;
}
.shoppingReviewContent{
    grid-area: shoppingReviewContent;
}
.shoppingReviewDelete{
    grid-area: shoppingReviewDelete;
}
.btn{
    font-size: 0.8rem;
    padding: 10px;
}
.shoppingReviewScore option{
    font-size: 1rem;
}
.shoppingReviewContent .form-control{
    width: 340px;
}
.withdraw{
    cursor: pointer;
}
.userInfoBox{
    width: 600px;
    height: 600px;
}
userInfoBox .form-control{
    width: 400px;
}
.userInfoRegDateBox{
    font-size: 1.2rem;
    color:gray;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.userInfoRegDateBox span{
    font-size: 1.2rem;
    color:gray;
}
.userInfoNamBox{
    display: grid;
    grid-template-columns: 200px 400px;
    align-items: center;
    padding: 30px;
}
.userInfoEmailBox{
    display: grid;
    grid-template-columns: 200px 400px;
    align-items: center;
    padding: 30px;
}
.userInfoAddressBox{
    display: grid;
    grid-template-columns: 200px 400px;
    align-items: center;
    padding: 30px;
}
.userInfoDetailAddressBox{
    display: grid;
    grid-template-columns: 200px 250px;
    align-items: center;
    padding: 30px;
}
.userInfoPhoneNumberBox{
    display: grid;
    grid-template-columns: 200px 250px;
    align-items: center;
    padding: 30px;
}
.userInfoButtonBox{
    display: grid;
    grid-template-columns: 600px;
    justify-items: center;
    padding: 30px;
}
.userInfoButtonBox button{
    width: 30%;
}
.userInfoArea{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#pickUpModal {
    display: block;
}
.pickTotalBox {
    padding: 0;
}
menu {
    font-weight: 400;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
menu span{
    cursor: pointer;
}
.header span {
    font-size: 1.5rem;
    color: #000;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
}
.header span:after {
    margin-top: 5px;
    display: block;
    content: "";
    border-bottom: solid 3px var(--color-dark-gray);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}
.header span:hover:after {
    transform: scaleX(1);
}
.header span.fromRight:after {
    transform-origin: 100% 50%;
}
.header span.fromLeft:after {
    transform-origin: 0% 50%;
}
body::-webkit-scrollbar{
    display: none;
}

