/*      Root         */
:root {
    /*    Color    */
    --color-true-black: #000000;
    --color-black: #181818;
    --color-light-gray: #6d6d6d;
    --color-gray: #565656;
    --color-dark-gray: #424242;
    --color-white: #f5f5f5;
    --color-true-white: #ffffff;
    --color-red: #ea3323;
    --color-blue: #3ea4f8;
    --color-sky-blue: #5ca4f8;
    --color-sun-gray: #d6d6d6;
    --color-cream-melon: #dcf8e4;
    --color-light-sky-blue: #b9eeff;
    --color-banana: #ffe062;
    --color-ivory: #fff3d4;
    --color-light-purple: #cc94c4;
    --color-violet: #a8b3d8;
    --color-light-white: #ebebeb;
    --color-cherry-blossom: #f8d1d1;

    /*  Size    */
    --size-border-radius: 4px;
    /*    Font  Size     */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
    /*    Font Weight    */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
    /*    Animation    */
    --animation-duration: 300ms;
}

/* reset.css */
html, body, div, span, applet, object, iframe, /**/
h1, h2, h3, h4, h5, h6, p, blockquote, pre, /**/
a, abbr, acronym, address, big, cite, code, /**/
del, dfn, em, img, ins, kbd, q, s, samp, /**/
small, strike, strong, sub, sup, tt, var, /**/
b, u, i, center, /**/
dl, dt, dd, ol, ul, li, /**/
fieldset, form, label, legend, /**/
table, caption, tbody, tfoot, thead, tr, th, td, /**/
article, aside, canvas, details, embed, /**/
figure, figcaption, footer, header, hgroup, /**/
menu, nav, output, ruby, section, summary, /**/
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, /**/
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* page css */
* {
    box-sizing: border-box;
    font-size: 1.5rem;
    user-select: none;
}
body {
    line-height: 1;
    font-family: "나눔스퀘어 네오";
    overflow: hidden;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before, blockquote:after, /**/
q:before, q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* style css start */
.headerContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    min-width: 800px;
}

/* 범수 css  */

header {
    height: 100px;
    width: 100vw;
    font-weight: 400;
    justify-items: center;
    background-color: var(--color-true-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff3d4;
}
.logoBox {
    width: 15%;
}
.logo {
    margin-left: 50px;
}
nav {
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.signup:hover,
.signin:hover,
.menu:hover {
    background-color: var(--color-cherry-blossom);
    color: #000000;
}
.searchBox {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.searchTerm {
    width: 40vw;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 3px var(--color-dark-gray);
    padding: 5px;
    height: 55px;
    color: #000000;
    font-size: 23px;
}
.searchTerm:focus {
    outline: none;
}
.searchButton {
    width: 40px;
    height: 55px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 3px var(--color-dark-gray);
    background: #ffffff;
    text-align: center;
    color: #000000;
    cursor: pointer;
    font-size: 25px;
}
.userBox {
    width: 15%;
}
menu {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

/* 범수 css end */

span {
    font-size: 1.5rem;
}
nav span {
    color: #000;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
}
nav span:after {
    margin-top: 5px;
    display: block;
    content: "";
    border-bottom: solid 3px var(--color-dark-gray);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}
nav span:hover:after {
    transform: scaleX(1);
}
nav span.fromRight:after {
    transform-origin: 100% 50%;
}
nav span.fromLeft:after {
    transform-origin: 0% 50%;
}

/* modal */

#modal.modal-overlay {
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
#modal .modal-window {
    background: var(--color-true-white);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 75vw;
    height: 90vh;
    position: relative;
    top: -20px;
    padding: 10px;
}
#modal .title {
    height: 8vh;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-black);
    margin-bottom: 20px;
}
#modal .title h2 {
    display: inline;
}
#modal .close-area {
    position: absolute;
    top: 15px;
    right: 15px;
    padding-right: 10px;
    cursor: pointer;
    font-size: 2rem;
    color: var(--color-black);
}
#modal .modal-nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
#modal .modal-nav li {
    border: 2px solid var(--color-dark-gray);
    border-right: none;
    display: flex;
    width: 100%;
    min-height: 45px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-sun-gray);
}
#modal .modal-nav .active {
    background-color: var(--color-true-white);
    border-bottom: none;
}
#modal .modal-nav li:first-child {
    border-radius: 12px 0 0 0;
}
#modal .modal-nav li:after {
    margin-top: 5px;
    display: block;
    content: "";
    border-bottom: solid 3px var(--color-dark-gray);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}
#modal .modal-nav li:last-child {
    border-radius: 0 12px 0 0;
    border: 2px solid var(--color-dark-gray);
}
#modal .modal-nav .active:last-child {
    background-color: var(--color-true-white);
    border-bottom: none;
}
#modal .modal-nav li:hover:after {
    transform: scaleX(1);
}
#modal .modal-nav li.fromRight:after {
    transform-origin: 100% 50%;
}
#modal .modal-nav li.fromLeft:after {
    transform-origin: 0% 50%;
}

#modal .content {
    border-radius: 0 0 12px 12px;
    border: 2px solid var(--color-dark-gray);
    border-top: none;
    width: 100%;
    height: 68vh;
    padding: 0px 10px;
    color: var(--color-black);
    overflow: auto;
}

/* map */

main {
    display: flex;
    flex-direction: row;
}
.mainContainer {
    width: 70vw;
    height: 100vh;
}
.sideContainer {
    width: 30vw;
    height: 90vh;
    background-color: var(--color-true-white);
    overflow-y: scroll;
}

.sideItem {
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}
.sideItem::after {
    margin-top: 10px;
    display: block;
    content: "";
    border-bottom: solid 1px var(--color-light-gray);
}
.sideItem:last-child::after {
    border-bottom: none;
}
.floristImg {
    width: 200px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
}
.floristImgBox {
    height: 160px;
}
.floristTitle span {
    font-size: 1.5rem;
}
.floristPhoneNumber span {
    font-size: 1rem;
}
.floristAddress span {
    font-size: 1rem;
}

.mapBox {
    display: flex;
    flex-direction: row-reverse;
}

#map {
    width: 70vw;
    height: 90vh;
}

#modal .flowerContent {
    margin: 10px;
    border: 1px solid var(--color-sun-gray);
    display: flex;
    justify-items: center;
}

#modal .flowerMainImg {
    width: 300px;
    height: 300px;
    object-fit: contain;
}

#modal .flowerDetailContent,
#modal .bucketDetailContent {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#modal .flowerDetailBuy,
#modal .bucketDetailBuy {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#modal .productBasket,
#modal .productBuy {
    margin: 2px;
    min-width: 130px;
    height: 50px;
}

#modal .flowerCount,
#modal .bucketCount {
    border: 1px solid var(--color-light-gray);
    border-radius: 10px;
    text-align: center;
    outline: none;
    height: 50px;
    width: 50px;
}

#modal .flowerCountBox,
#modal .bucketCountBox {
    display: flex;
    margin: 10px;
    align-items: center;
}

#modal .flowerBuyBox {
    display: flex;
    margin: 10px;
}

#modal .flowerImageBox {
    display: flex;
}

#modal .flowerAddSub button {
    min-width: 50px;
    height: 30px;
    text-align: center;
    line-height: 100%;
    margin: 5px;
}

#modal .flowerAddSub {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal .flowerBuyBox button {
    margin-right: 5px;
}
#modal .checkBox {
    display: flex;
    width: 200px;
    justify-content: center;
}

.flowerContent .flowerCheck {
    margin: 0 15px;
    width: 20px;
}

#checkModal {
    position: absolute;
    background-color: var(--color-true-white);
    top: 30%;
    left: 30%;
    z-index: 20;
    width: 500px;
    height: 430px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid;
}

#checkModal .close-btn {
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    flex-direction: row-reverse;
    height: 45px;
}
#checkModal .textBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#checkModal .middle {
    display: flex;
    height: 240px;
    align-items: center;
    justify-content: center;
}
#checkModal .checkBox {
    display: flex;
    justify-content: space-evenly;
    font-size: 4rem;
}
#checkModal .okBox {
    color: var(--color-sky-blue);
}
#checkModal .noBox {
    color: var(--color-red);
}
#checkModal .okBox,
#checkModal .noBox {
    cursor: pointer;
    background-color: var(--color-true-white);
    border-radius: 50%;
    width: 65px;
}

#checkModal.modal-overlay {
    z-index: 20;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
#checkModal .modal-window {
    background: var(--color-true-white);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 75vw;
    height: 90vh;
    position: relative;
    top: -20px;
    padding: 10px;
}

#modal .bucketCountBox {
    flex-direction: row-reverse;
}

#modal .bucketCntInc,
#modal .bucketCntDec {
    margin: 5px;
}

#modal .bucketContent {
    margin: 10px;
    border: 1px solid var(--color-sun-gray);
    display: flex;
    justify-items: center;
}

#modal .bucketBuyBox {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

#modal .bucketBuy {
    margin-top: 10px;
}

#modal .bucketFooter {
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 2px solid var(--color-black);
    height: 110px;
    padding: 10px;
    background-color: var(--color-white);
    border-radius: 0 0 12px 12px;
}

#modal .content {
    padding: 0;
}

#modal .selectBox button {
    margin: 5px;
}
.content {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.content::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

input[type="checkBox"] {
    width: 15px;
}

#buyModal.modal-overlay {
    z-index: 50;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
#buyModal .modal-window {
    background: var(--color-true-white);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 80vw;
    height: 91vh;
    position: relative;
    top: -20px;
    padding: 10px;
}

#buyModal h2 {
    font-size: 3rem;
}

#buyModal .titleBox {
    display: flex;
    height: 17vh;
    align-items: center;
}

#buyModal .contentBox {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

#buyModal .closeBtn {
    top: 20px;
    position: absolute;
    right: 40px;
    font-size: 3rem;
    cursor: pointer;
}

#buyModal .middleBox {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
}

#buyModal .middleLeftBox {
    overflow-x: scroll;
}

#buyModal .middleRightBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#buyModal .flowerMainImg {
    width: 300px;
    height: 300px;
    object-fit: contain;
}

#buyModal .productBox {
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40vw;
}

#buyModal .buyBox {
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-direction: column;
}

#buyModal .userSelectBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#buyModal .dateSelectBox,
#buyModal .timeSelectBox {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 15px;
    height: 50px;
}
#buyModal input {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    border: 2px solid var(--color-sun-gray);
}

option {
    font-size: 1rem;
}

.timeSpan {
    font-size: 1.2rem;
    padding: 5px;
}
label {
    font-size: 2rem;
}