:root {
    /*    Color    */
    --color-true-black: #000000;
    --color-black: #181818;
    --color-light-gray: #6d6d6d;
    --color-gray: #565656;
    --color-dark-gray: #424242;
    --color-white: #f5f5f5;
    --color-true-white: #ffffff;
    --color-red: #ea3323;
    --color-blue: #3ea4f8;
    --color-sky-blue: #5ca4f8;
    --color-sun-gray: #d6d6d6;
    --color-cream-melon: #dcf8e4;
    --color-light-sky-blue: #b9eeff;
    --color-banana: #ffe062;
    --color-ivory: #fff3d4;
    --color-light-purple: #cc94c4;
    --color-violet: #a8b3d8;
    --color-light-white: #ebebeb;
    --color-cherry-blossom: #f8d1d1;

    /*  Size    */
    --size-border-radius: 4px;
    /*    Font  Size     */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
    /*    Font Weight    */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
    /*    Animation    */
    --animation-duration: 300ms;
}

/* reset.css */
html, body, div, span, applet, object, iframe, /**/
h1, h2, h3, h4, h5, h6, p, blockquote, pre, /**/
a, abbr, acronym, address, big, cite, code, /**/
del, dfn, em, img, ins, kbd, q, s, samp, /**/
small, strike, strong, sub, sup, tt, var, /**/
b, u, i, center, /**/
dl, dt, dd, ol, ul, li, /**/
fieldset, form, label, legend, /**/
table, caption, tbody, tfoot, thead, tr, th, td, /**/
article, aside, canvas, details, embed, /**/
figure, figcaption, footer, header, hgroup, /**/
menu, nav, output, ruby, section, summary, /**/
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, /**/
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* page css */
* {
    box-sizing: border-box;
    font-size: 1.5rem;
    user-select: none;
}
body {
    line-height: 1;
    font-family: "나눔스퀘어 네오";

}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before, blockquote:after, /**/
q:before, q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* style css start */
header {
    position: sticky;
    top: 0px;
    background-color: #fff3d4;
    height: 100px;
    width: 100vw;
    display: grid;
    align-items: center;
    color: var(--color-black);
    font-weight: 400;
    grid-template-columns: 300px 1fr 233px 340px;

    box-sizing: content-box;
}
.logo {
    height: 80px;
    width: 254px;
    margin-left: 20px;
    cursor: pointer;
}
.logoBox {
    width: 15%;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
nav span {
    font-size: 1.5rem;
}
span {
    color: #000;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
}
menu {
    display: flex;
    justify-content: center;
    font-weight: 400;
    width: 100%;
}
nav span {
    color: #000;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
}
nav span:after {
    margin-top: 5px;
    display: block;
    content: "";
    border-bottom: solid 3px var(--color-dark-gray);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}
nav span:hover:after {
    transform: scaleX(1);
}
nav .fromRight:after {
    transform-origin: 100% 50%;
}
nav .fromLeft:after {
    transform-origin: 0% 50%;
}

footer {
    width: 100vw;
    font-weight: 400;
    background-color: var(--color-true-white);
    border-top: 2px solid var(--color-light-gray);
    background-color: #000;
}
.mainArea{
    display: grid;
    grid-template-columns: 500px 250px 250px ;
    grid-template-rows: 100px 30px 70px 70px 90px ;
    grid-template-areas:
      "a b b"
      "a g g"
      "a c c"
      "a d d"
      "a e f";

    align-items: center;
    justify-content: center;
}
.productMainImage{
    width: 90%;
    height: 90%;
    grid-area: a;
    object-fit: contain;

}
.productName{
    grid-area: b;
}
.productQuantity{
    grid-area: c;
    display: flex;
    justify-content: space-evenly;
}
.productPrice{
    grid-area: d;
    display: flex;
    justify-content: space-evenly;
}
.productBasket{
    width: 60%;
    height: 50%;
    grid-area: e;
}
.productBuy{
    width: 60%;
    height: 50%;
    grid-area: f;
}
.subImageBox{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    object-fit: cover;
}
.subImage{
    width: 1000px;
    height: auto;
}
.sideStickyArea{
    display: none;
    position: fixed;
    top: 700px;
    right: 30px;
}
.sideStickyBox {
    font-size: medium;
}
.sideStickyBox option{
    font-size: medium;
}
::-webkit-scrollbar {
    display: none;
}
.form-select option{
    font-size: medium;
}
.logo{
    cursor: pointer;
}
.categoryBar {
    margin-left: 100px;
    width: 100%;
    height: 70px;
    font-size: var(--font-regular);
    background-color: #fff3d4 ;
    min-width: 468px;
}
.categoryBar ul{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.categoryBar li{
    padding: 10px;
    border-radius: 10px;
}
.categoryBar li:hover{
    background-color: pink;
    font-weight: bold;
}
.subMenu{
    display: flex;
    justify-content: space-around;

}
.subMenu div{
    padding: 10px;
    font-size: medium;
    background-color: white;
    cursor: pointer;

}
.subMenu div :hover{
    background-color: pink;
    font-weight: bold;
}
.subMenu .plant{
    display: none;
    position: absolute;
    left: 23vw;
    bottom: -94px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 3;
}
.subMenu .wreath{
    display: none;
    position: absolute;
    left: 30vw;
    bottom: -94px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 3;
}
.subMenu .flowerBasket{
    display: none;
    position: absolute;
    left: 39vw;
    bottom: -94px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 3;
}
.soil{
    cursor: pointer;
}
.vase{
    cursor: pointer;
}
.productName{
    font-size: 1.9rem;
    text-align: center;
}
.quantitySelect{
    width: 100px;
    grid-area: g;
}
.form-select{
    width: 80px;
}
.sideQuantityBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
}
.sidePriceBox{
    margin: 15px;
    font-size: medium;
}
.sideButtonBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sidePriceBox span{
    font-size: medium;
}
a {
    text-decoration: none;
    color: #191919;
}
a:hover{
    color: #191919;
}
.reviewScoreBox{
    grid-area: g;
    display: flex;
    justify-content: center;
}
.reviewArea{
    display: flex;
    width: 100vw;
    align-items: center;
    flex-direction: column;
}

.reviewBox{
    width: 1000px;
    display: grid;
    grid-template-columns: 300px 630px 70px;
    grid-template-rows: 100px 150px;
    grid-template-areas:
  "reviewImage reviewTop reviewDelete"
  "reviewImage reviewContent .";
    margin-top: 20px;
    border-bottom:1px solid rgba(0, 0, 0, 0.524) ;
    margin-bottom: 20px;

}
.reviewImageBox{
    grid-area: reviewImage;

}
.reviewImage{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.reviewTop{
    grid-area: reviewTop;
    display: flex;
}
.reviewTop div{
    margin: 0 40px 0 10px;
}
.reviewContent{
    grid-area: reviewContent;
}
.reviewDelete{
    grid-area: reviewDelete;
}
.reviewTotalBox{
    display: flex;
    margin-bottom: 20px;
    border-bottom:1px solid rgba(0, 0, 0, 0.324) ;
}
.reviewTotalBox div{
    margin: 10px;
}
.subImageBox{
    border-bottom:1px solid black ;
}
.menuBar{
    font-size: 0.9rem;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -25px;
    color: gray;
}
.menu1, .menu2{
    padding-right:10px ;
    border-right: 1px solid rgba(128, 128, 128, 0.58);
}
.menuBar a {
    color :gray;
}