.submitBox input {
    border-radius: 0.25rem;
    border: 3px solid var(--color-light-gray);
    padding: 8px;
    height: 100%;
    font-size: 1.2rem;
    outline: none;
    color: #000000;
}
.submitBox {
    margin-top: 10px;
}
#addressInput {
    user-select: none;
}
.emailTestFail {
    font-size: 0.8rem;
    margin: 10px 0;
    color: red;
    text-transform: initial;
    display: none;
}
