<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script srd="/build/FAQ.js"></script>
    <title>구조 잡기</title>
    <link rel="stylesheet" type="text/css" href="../static/css/FAQ.css" />
    <script src="../static/build/FAQ.js" defer></script>
  </head>
  <body>
    <header class="header">
      <img src="../static/image/logo최종.png" alt="logo" class="logo" />
      <menu>
        <span class="fromLeft">Pick Up</span>
        <span class="fromLeft">Shop</span>
        <span class="fromLeft">recommend</span>
      </menu>
      <nav class="userBox">
        <span class="signin">SignIn</span>
        <span class="signup">SignUp</span>
      </nav>
    </header>
    <main>
      <div class="body_layout">
        <div class="left_menu">
          <h2>고객센터</h2>
          <br />
          <li>공지사항</li>
          <br />
          <li>자주 묻는 질문</li>
          <br />
          <li>나의 문의 내역</li>
        </div>
        <div class="body_Contents">
          <h2>자주 묻는 질문</h2>
          <div class="FAQ_list">
            <li>
              <p class="FAQ_toggle_Q">토글 테스트</p>
              <p class="FAQ_toggle_A">테스트 성공!</p>
            </li>
            <br />
            <li>
              <p class="FAQ_toggle_Q">Q1.</p>
              <p class="FAQ_toggle_A">A1.</p>
            </li>
            <br />
            <li>
              <p class="FAQ_toggle_Q">Q2.</p>
              <p class="FAQ_toggle_A">A2.</p>
            </li>
            <br />
            <li>
              <p class="FAQ_toggle_Q">Q3.</p>
              <p class="FAQ_toggle_A">A3.</p>
            </li>
            <br />
            <li>
              <p class="FAQ_toggle_Q">Q4.</p>
              <p class="FAQ_toggle_A">A4.</p>
            </li>
            <br />
            <li>
              <p class="FAQ_toggle_Q">Q5.</p>
              <p class="FAQ_toggle_A">A5.</p>
            </li>
          </div>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
