<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>꽃집</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <script src="/build/index.js" defer></script>
    <script
      src="https://kit.fontawesome.com/8e31ecfd50.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <img src="/image/logo최종.png" alt="logo" class="logo" />
      <menu>
        <span class="fromLeft">Pick Up</span>
        <span class="fromLeft"><a href="/shopping">Shop</a></span>
        <span class="fromLeft">recommend</span>
      </menu>
      <nav class="userBox">
        <span class="signin">SignIn</span>
        <span class="signup">SignUp</span>
      </nav>
    </header>
    <main class="mainContainer">
      <div class="backGroundImage"></div>
      <div class="searchBox">
        <input
          type="text"
          class="searchTerm"
          placeholder="위치를 입력해주세요"
        />
        <button type="submit" class="searchButton">
          <i class="fa fa-search"></i>
        </button>
      </div>
      <div class="mainText">
        사랑하는 사람에게 <br />꽃으로 마음을 전달해보세요.
      </div>
      <div class="moreBtn"><span> More </span></div>
      <div class="main-content-1">
        <div class="sticky">
          <div class="sticky-background">BLOOM FOEM</div>
          <div class="card-frame">
            <div class="card">
              <div class="front spring"></div>
              <div class="back">Cherry Blossom</div>
            </div>
            <div class="card">
              <div class="front summer"></div>
              <div class="back">Sun Flower</div>
            </div>
            <div class="card">
              <div class="front fall"></div>
              <div class="back">Cosmos</div>
            </div>
            <div class="card">
              <div class="front winter"></div>
              <div class="back">Camellia</div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-content-2">
        <div class="sticky2">
          <div class="sticky-background">BLOOM FOEM</div>
          <div class="section">
            <div class="title">PickUp</div>
            <div class="contentWrap">
              <div class="content"></div>
            </div>
          </div>
          <div class="section">
            <div class="title">Delivery</div>
            <div class="contentWrap">
              <div class="content"></div>
            </div>
          </div>
          <div class="section">
            <div class="title">Recommendation</div>
            <div class="contentWrap">
              <div class="content"></div>
            </div>
          </div>
          <div class="section">
            <div class="title">Community</div>
            <div class="contentWrap">
              <div class="content"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-content-3">
        <div class="main-con-row">
          <div class="main-con-row-title">
            <span>Best Shop</span>
          </div>
          <div class="con-item-list">
            <div class="main-con-item"></div>
            <div class="main-con-item"></div>
            <div class="main-con-item"></div>
          </div>
        </div>
        <div class="main-con-row">
          <div class="main-con-row-title">
            <span>Best Product</span>
          </div>
          <div class="con-item-list">
            <div class="main-con-item"></div>
            <div class="main-con-item"></div>
            <div class="main-con-item"></div>
          </div>
        </div>
      </div>
      <footer>
        <div>footerContent</div>
      </footer>
    </main>
  </body>
</html>
