<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>환영합니다.</title>
    <link rel="stylesheet" type="text/css" href="/css/skel.css" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>
<body>
<header class="header">
    <img src="/image/logo최종.png" alt="logo" class="logo" />
</header>
<main>
    <div class="mainBox-1">
        <div class="loginBox">
            <h1 class="loginTitle">Sign in</h1>
            <div class="logWrap"></div>
            <div class="loginSubmitBox">
                <label for="emailInput" class="emailTag">Email</label>
                <input
                        class="emailInput marin-3 inputWD"
                        type="email"
                        placeholder="Email"
                        id="emailInput"
                />
                <button class="btn marin-3">Submit</button>
            </div>
            <h2 class="orBox">
                <div class="line"></div>
                <span>또는</span>
                <div class="line"></div>
            </h2>
        </div>
    </div>
</main>
<footer></footer>
</body>
</html>
