<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="/build/userContext.js" defer></script>
  <title>Bloom Poem 개인정보처리방침</title>
  <link rel="stylesheet" type="text/css" href="/css/index.css" />
  <script src="/build/index.js" defer></script>
  <script
          src="https://kit.fontawesome.com/8e31ecfd50.js"
          crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" type="text/css" href="/css/footer.css" />
  <link rel="stylesheet" type="text/css" href="/css/privacy.css" />
</head>
<body>
<header class="header">
  <img src="/image/logo최종.png" alt="logo" class="logo" />
  <menu>
    <span class="fromLeft"><a href="/pick_up">Pick Up</a></span>
    <span class="fromLeft"><a href="/shopping">Shop</a></span>
    <span class="fromLeft">recommend</span>
  </menu>
  <nav class="userBox">
    <a href="http://localhost:9000/sign/sign_in"
    ><span class="signin">SignIn</span></a
    >
    <a href="http://localhost:9000/sign/sign_up"
    ><span class="signup">SignUp</span></a
    >
  </nav>
</header>
<main>
  <div class="titleBox">
    <h2>개인정보처리방침</h2>
  </div>
  <section class="priContainer">
    <section>
      <h3 class="title">제 1조 (목적)</h3>
      <p class="text">
        블룸포엠(이하 '회사'라고 함)는 회사가 제공하고자 하는 서비스(이하
        '회사 서비스')를 이용하는 개인(이하 '이용자' 또는 '개인')의
        정보(이하 '개인정보')를 보호하기 위해, 개인정보보호법, 정보통신망
        이용촉진 및 정보보호 등에 관한 법률(이하 '정보통신망법') 등 관련
        법령을 준수하고, 서비스 이용자의 개인정보 보호 관련한 고충을
        신속하고 원활하게 처리할 수 있도록 하기 위하여 다음과 같이
        개인정보처리방침(이하 '본 방침')을 수립합니다.
      </p>
    </section>
    <h3 class="title">제 2조 (개인정보 처리의 원칙)</h3>
    <p class="text">
      개인정보 관련 법령 및 본 방침에 따라 회사는 필요한 목적 범위 내에서만
      이용자의 개인정보를 수집할 수 있습니다.
    </p>
    <h3 class="title">제 3조 (회원 가입을 위한 정보)</h3>
    <div>
      <p class="text">
        회사는 이용자의 회사 서비스에 대한 회원가입을 위하여 다음과 같은
        정보를 수집합니다.
      </p>
      <ol>
        <li>필수 수집 정보: 이메일 주소, 이름 및 닉네임</li>
      </ol>
    </div>
    <h3 class="title">제 4조 (개인정보 수집 방법)</h3>
    <p class="text">
      회사는 다음과 같은 방법으로 이용자의 개인정보를 수집합니다.
    </p>
    <ol>
      <li>이용자가 회사의 홈페이지에 자신의 개인정보를 입력하는 방식</li>
      <li>
        어플리케이션 등 회사가 제공하는 홈페이지 외의 서비스를 통해 이용자가
        자신의 개인정보를 입력하는 방식
      </li>
    </ol>
    <h3 class="title">제 5조 (개인정보의 이용)</h3>
    <p class="text">회사는 개인정보를 다음 각 호의 경우에 이용합니다.</p>
    <ol>
      <li>
        이용문의에 대한 회신, 불만의 처리 등 이용자에 대한 서비스 개선을
        위한 경우
      </li>
      <li>회사의 서비스를 제공하기 위한 경우</li>
    </ol>
    <h3 class="title">제 6조 (개인정보의 보유 및 이용기간)</h3>
    <ul>
      <li class="text">
        ① 회사는 이용자의 개인정보에 대해 개인정보의 수집·이용 목적이 달성을
        위한 기간 동안 개인정보를 보유 및 이용합니다.
      </li>
      <li class="text">
        ② 전항에도 불구하고 회사는 내부 방침에 의해 서비스 부정이용기록은
        부정 가입 및 이용 방지를 위하여 회원 탈퇴 시점으로부터 최대 1년간
        보관합니다.
      </li>
    </ul>
    <h3 class="title">제 7조 (법령에 따른 개인정보의 보유 및 이용기간)</h3>
    <p class="text">
      회사는 관계법령에 따라 다음과 같이 개인정보를 보유 및 이용합니다.
    </p>
    <ol>
      <li>
        전자상거래 등에서의 소비자보호에 관한 법률에 따른 보유정보 및
        보유기간
        <p>
          - 계약 또는 청약철회 등에 관한 기록 : 5년
          <br />
          - 대금결제 및 재화 등의공급에 관한 기록 : 5년
          <br />
          - 소비자의 불만 또는 분쟁처리에 관한 기록 :3년
          <br />
          - 표시•광고에 관한 기록 : 6개월
        </p>
      </li>
      <li>
        통신비밀보호법에 따른 보유정보 및 보유기간
        <p>- 웹사이트 로그 기록 자료 : 3개월</p>
      </li>
      <li>
        전자금융거래법에 따른 보유정보 및 보유기간
        <p>- 전자금융거래에 관한 기록 : 5년</p>
      </li>
      <li>
        위치정보의 보호 및 이용 등에 관한 법률
        <p>- 개인위치정보에 관한 기록 : 6개월</p>
      </li>
    </ol>
    <h3 class="title">제 8조 (개인정보의 파기원칙)</h3>
    <p class="text">
      회사는 원칙적으로 이용자의 개인정보 처리 목적의 달성, 보유·이용기간의
      경과 등 개인정보가 필요하지 않을 경우에는 해당 정보를 지체 없이
      파기합니다.
    </p>
    <h3 class="title">제 9조 (서비스 미이용자에 대한 개인정보처리)</h3>
    <ul>
      <li class="text">
        ① 회사는 1년 동안 회사의 서비스를 이용하지 않은 이용자의 개인정보는
        원칙적으로 이용자에게 사전통지하고 개인정보를 파기하거나 별도로
        분리하여 저장합니다.
      </li>
      <li class="text">
        ② 회사는 장기 미이용 이용자의 개인정보는 별도로 분리되어 안전하게
        보관하게 되며, 해당 이용자의 통지는 분리 보관 처리 일을 기준으로
        최소 30일 이전에 전자우편주소로 전송됩니다.
      </li>
      <li class="text">
        ③ 장기 미이용 이용자는 회사가 미이용자 DB를 별도로 분리하기 전에
        계속 서비스를 이용하고자 하는 경우 웹사이트(이하 '모바일앱' 포함)에
        로그인하시면 됩니다.
      </li>
      <li class="text">
        ④ 장기 미이용 이용자는 웹사이트에 로그인할 경우 이용자의 동의에 따라
        본인의 계정을 복원할 수 있습니다.
      </li>
      <li class="text">
        ⑤ 회사는 분리 보관된 개인정보를 4년간 보관 후 지체없이 파기합니다.
      </li>
    </ul>
    <h3 class="title">제 10조 (개인정보파기절차)</h3>
    <ul>
      <li class="text">
        ① 이용자가 회원가입 등을 위해 입력한 정보는 개인정보 처리 목적이
        달성된 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및
        기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조)
        일정 기간 저장된 후 파기 되어집니다.
      </li>
      <li class="text">
        ② 회사는 파기 사유가 발생한 개인정보를 개인정보보호 책임자의
        승인절차를 거쳐 파기합니다.
      </li>
    </ul>
    <h3 class="title">제 11조 (개인정보파기방법)</h3>
    <p class="text">
      회사는 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는
      기술적 방법을 사용하여 삭제하며, 종이로 출력된 개인정보는 분쇄기로
      분쇄하거나 소각 등을 통하여 파기합니다.
    </p>
    <h3 class="title">제 12조 (개인정보 조회 및 수집동의 철회)</h3>
    <ul>
      <li class="text">
        ① 이용자 및 법정 대리인은 언제든지 등록되어 있는 자신의 개인정보를
        조회하거나 수정할 수 있으며 개인정보수집 동의 철회를 요청할 수
        있습니다.
      </li>
      <li class="text">
        ② 이용자 및 법정 대리인은 자신의 가입정보 수집 등에 대한 동의를
        철회하기 위해서는 개인정보보호책임자 또는 담당자에게 서면, 전화 또는
        전자우편주소로 연락하시면 회사는 지체 없이 조치하겠습니다.
      </li>
    </ul>
    <h3 class="title">제 15조 (개인정보 정보변경 등)</h3>
    <ul>
      <li class="text">
        ① 이용자는 자신의 개인정보를 최신의 상태로 유지해야 하며, 이용자의
        부정확한 정보 입력으로 발생하는 문제의 책임은 이용자 자신에게
        있습니다.
      </li>
      <li class="text">
        ② 타인의 개인정보를 도용한 회원가입의 경우 이용자 자격을 상실하거나
        관련 개인정보보호 법령에 의해 처벌받을 수 있습니다.
      </li>
      <li class="text">
        ③ 이용자는 전자우편주소, 비밀번호 등에 대한 보안을 유지할 책임이
        있으며 제3자에게 이를 양도하거나 대여할 수 없습니다.
      </li>
    </ul>
    <h3 class="title">제 17조 (회사의 개인정보 보호 책임자 지정)</h3>
    <ul>
      <li class="text">
        ① 회사는 이용자의 개인정보를 보호하고 개인정보와 관련한 불만을
        처리하기 위하여 아래와 같이 관련 부서 및 개인정보 보호 책임자를
        지정하고 있습니다.
      </li>
      <li class="text">가. 개인정보 보호 책임자</li>
      <li class="text">- 성명: 임성종</li>
      <li class="text">- 이메일: sung8881@naver.com</li>
    </ul>
    <h3 class="title">시행일자</h3>
    <p class="text">본 약관은 2021년 1월 1일부터 적용됩니다.</p>
  </section>
</main>
<footer>
  <div class="footerWrapper">
    <div class="footerTop">
      <ul class="footerListText">
        <li class="footerText">고객센터</li>
        <li class="footerText">개인정보처리방침</li>
      </ul>
    </div>
    <div class="footerCenter">
      <div class="line"></div>
    </div>
    <div class="footerBottom">
      <ul class="footerListText">
        <li class="footerText">사업자 명 : 블룸 포엠</li>
        <li class="footerText">대표자 명 :</li>
        <li class="footerText">
          오시는 길 : 인천 미추홀구 매소홀로488번길 6-32 태승빌딩 5층(1층
          홈플러스)
        </li>
        <li class="footerText">연락처 : 032-876-3332</li>
      </ul>
    </div>
  </div>
</footer>
</body>
</html>
