<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <title>문의 작성하기</title>
  <link rel="stylesheet" type="text/css" href="/css/qnaWrite.css" />
  <script src="/build/qnaUpdate.js" defer></script>
</head>
<body>
<header class="header">
  <a href="http://localhost:9000"><img src="/image/logo최종.png" alt="logo" class="logo" /></a>
  <menu>
    <span class="fromLeft">Pick Up</span>
    <span class="fromLeft">Shop</span>
    <span class="fromLeft">recommend</span>
  </menu>
  <nav class="userBox">
    <span class="signin">SignIn</span>
    <span class="signup">SignUp</span>
  </nav>
</header>
<main>
  <!-- 바디 레이아웃 시작 -->
  <div class="body_layout">
    <!-- 바디 컨텐츠 시작 -->
    <div class="body_contents">
      <!-- 상단 메뉴바 시작 -->
      <div class="top_menu">
        <li>공지사항</li>
        <li>자주 묻는 질문</li>
        <li>나의 문의 내역</li>
      </div>
      <!-- 상단 메뉴바 종료 -->
      <h2>문의 작성하기</h2>
      <!-- Qna 작성 폼 div -->
      <div class="Qna_write">
        <!-- Qna 작성 폼 시작 -->
        <form action="/qna/update" method="post" name="QnaForm" id="QnaForm" enctype="multipart/form-data"
        >
          <!-- Qna 사용자 이메일 입력 -->
          <div>
            <input
                    type="text"
                    name="userEmail"
                    id="userEmail"
                    placeholder="사용자 이메일"
            />
          </div>
          <!-- Qna 사용자 이메일 종료 -->
          <!-- Qna 제목 입력 -->
          <div>
            <input
                    type="text"
                    name="qnaTitle"
                    id="qnaTitle"
                    placeholder="제목을 입력해주세요."
            />
          </div>
          <!-- Qna 제목 종료 -->
          <!-- Qna 내용 입력 -->
          <div>
                <textarea
                        name="qnaContent"
                        id="qnaContent"
                        cols="100"
                        rows="20"
                        placeholder="내용을 입력해주세요."
                ></textarea>
          </div>
          <!-- 답글 여부 폼 체크 hidden type(N-답글아님) 시작-->
          <input type="hidden" value="N" name="qnaStatus">
          <!-- 답글 여부 폼 체크 hidden type(N-답글아님) 종료-->
          <!-- Qna 내용 종료 -->
          <!-- Qna 첨부파일 입력 -->
          <div>
            <!--                <input type="file" name="qnaImage1" id="qnaImage1" />-->
            <!--                <input type="file" name="qnaImage2" id="qnaImage2" />-->
            <!--                <input type="file" name="qnaImage3" id="qnaImage3" />-->
          </div>
          <!-- Qna 첨부파일 종료 -->
          <!-- 버튼들 감싸는 태그 -->
          <div class="Qna_buttons">
            <!-- Qna 저장 버튼 -->
            <div>
              <input type="submit" name="Qna_save_button" id="Qna_save_button" value="저장">
            </div>
            <!-- Qna 저장 버튼 종료 -->
            <!-- Qna 목록 버튼 -->
            <a
                    href="http://localhost:9000/qna"
                    name="Qna_list_button"
                    id="Qna_list_button"
            >
              목록
            </a>
            <!-- Qna 목록 버튼 종료 -->
          </div>
          <!-- 버튼들 감싸는 태그 종료 -->
        </form>
        <!-- Qna 작성 폼 종료 -->
      </div>
      <!-- Qna 작성 폼 div 종료 -->
    </div>
    <!-- 바디 컨텐츠 종료 -->
  </div>
  <!-- 바디 레이아웃 종료 -->
</main>
<footer></footer>
</body>
</html>
