<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>나의 문의 내역</title>
    <link rel="stylesheet" type="text/css" href="/css/qnaWrite.css" />
    <script src="/build/qnaView.js" defer></script>
</head>
<body>
<header class="header">
    <a href="http://localhost:9000"><img src="/image/logo최종.png" alt="logo" class="logo" /></a>
    <menu>
        <span class="fromLeft">Pick Up</span>
        <span class="fromLeft">Shop</span>
        <span class="fromLeft">recommend</span>
    </menu>
    <nav class="userBox">
        <span class="signin">SignIn</span>
        <span class="signup">SignUp</span>
    </nav>
</header>
<main>
    <!-- 바디 레이아웃 시작 -->
    <div class="body_layout">
        <!-- 바디 컨텐츠 시작 -->
        <div class="body_contents">
            <!-- 상단 메뉴바 시작 -->
            <div class="top_menu">
                <li>공지사항</li>
                <li>자주 묻는 질문</li>
                <li>나의 문의 내역</li>
            </div>
            <!-- 상단 메뉴바 종료 -->
            <h2>나의 문의 내역</h2>
            <!-- Qna 리스트 시작 -->
            <div class="Qna_list">
                <!-- Qna 작성 폼 시작 -->
                <form action="/qna/view" method="post" name="QnaForm" id="QnaForm" enctype="multipart/form-data">
                    <!-- 버튼들 감싸는 태그 -->
                    <button name="Qna_update_button" id="Qna_update_button">수정</button>
                    <button name="Qna_delete_button" id="Qna_delete_button">삭제</button>
                    <!-- 버튼들 감싸는 태그 -->
                <!-- Qna 테이블 시작 -->
                <table class="Qna_Table">
                    </thead>
                    <!-- Qna 테이블 바디 시작-->
                    <tbody>
                    <tr>
                        <th>제목</th>
                        <td>제목 예시</td>
<!--                        th:text="${qna.Title}"-->
                        <th>답변 상태</th>
                        <td>Y/N</td>
<!--                        th:text="${qna.qnaStatus}"-->
                    </tr>
                    <tr>
                        <th>작성자</th>
                        <td>유저이메일@test.com</td>
<!--                        th:text="${qna.userEmail}-->
                        <th>등록일</th>
                        <td>YYYY.MM.DD</td>
<!--                        th:text="${qna.qnaDate}-->
                    </tr>
                    </tbody>
                    <!-- Qna 테이블 바디 종료-->
                </table>
                <!-- Qna 테이블 종료 -->
                    <!-- Qna 문의 내용 시작 -->
                        <div>문의 내용</div>
    <!--                th:text="${qna.qnaContent}"-->
                    <!-- Qna 문의 내용 종료 -->
                </form>
                <!-- Qna 작성 폼 종료 -->
            </div>
            <!-- Qna 리스트 종료 -->
        </div>
        <!-- 바디 컨텐츠 종료 -->
    </div>
    <!-- 바디 레이아웃 종료 -->
</main>
<footer></footer>
</body>
</html>
