<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>나의 문의 내역</title>
    <link rel="stylesheet" type="text/css" href="/css/QnAWrite.css" />
    <!-- script src="../static/build/FAQ.js" defer></script -->
  </head>
  <body>
    <header class="header">
      <img src="/image/logo최종.png" alt="logo" class="logo" />
      <menu>
        <span class="fromLeft">Pick Up</span>
        <span class="fromLeft">Shop</span>
        <span class="fromLeft">recommend</span>
      </menu>
      <nav class="userBox">
        <span class="signin">SignIn</span>
        <span class="signup">SignUp</span>
      </nav>
    </header>
    <main>
      <!-- 바디 레이아웃 시작 -->
      <div class="body_layout">
        <!-- 바디 컨텐츠 시작 -->
        <div class="body_contents">
          <!-- 좌측 메뉴바 시작 -->
          <div class="left_menu">
            <h2>고객센터</h2>
            <br />
            <li>공지사항</li>
            <br />
            <li>자주 묻는 질문</li>
            <br />
            <li>나의 문의 내역</li>
          </div>
          <!-- 좌측 메뉴바 종료 -->
          <h2>문의 작성 하기</h2>
          <!-- QnA 작성 폼 div -->
          <div class="QnA_write">
            <!-- QnA 작성 폼 시작 -->
            <form
              action="/QnA/write"
              method="post"
              enctype="multipart/form-data"
            >
              <!-- QnA 작성자 입력 -->
              <div>
                <input
                  type="text"
                  name="QnA_writer"
                  id="QnA_writer"
                  placeholder="작성자"
                />
              </div>
              <!-- QnA 작성자 종료 -->
              <!-- QnA 사용자 이메일 입력 -->
              <div>
                <input
                  type="text"
                  name="QnA_email"
                  id="QnA_email"
                  placeholder="사용자 이메일"
                />
              </div>
              <!-- QnA 사용자 이메일 종료 -->
              <!-- QnA 제목 입력 -->
              <div>
                <input
                  type="text"
                  name="QnA_title"
                  id="QnA_title"
                  placeholder="제목을 입력해주세요."
                />
              </div>
              <!-- QnA 제목 종료 -->
              <!-- QnA 내용 입력 -->
              <div>
                <textarea
                  name="QnA_content"
                  id="QnA_content"
                  cols="120"
                  rows="30"
                  placeholder="내용을 입력해주세요."
                ></textarea>
              </div>
              <!-- QnA 내용 종료 -->
              <!-- QnA 첨부파일 입력 -->
              <div>
                <input type="file" name="QnA_File" id="QnA_File" />
              </div>
              <!-- QnA 첨부파일 종료 -->
              <!-- 버튼들 감싸는 태그 -->
              <div class="QnA_buttons">
                <!-- QnA 저장 버튼 -->
                <div>
                  <button type="button" name="Save_btn" id="Save_btn">
                    저장
                  </button>
                </div>
                <!-- QnA 저장 버튼 종료 -->
                <!-- QnA 목록 버튼 -->
                <button type="button" name="QnA_list_btn" id="QnA_list_btn">
                  목록
                </button>
                <!-- QnA 목록 버튼 종료 -->
              </div>
              <!-- 버튼들 감싸는 태그 종료 -->
            </form>
            <!-- QnA 작성 폼 종료 -->
          </div>
          <!-- QnA 작성 폼 div 종료 -->
        </div>
        <!-- 바디 컨텐츠 종료 -->
      </div>
      <!-- 바디 레이아웃 종료 -->
    </main>
    <footer></footer>
  </body>
</html>
