<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>구조 잡기</title>
    <link rel="stylesheet" type="text/css" href="/css/skel.css" />
  </head>
  <body>
    <header class="header">
      <img src="/image/logo최종.png" alt="logo" class="logo" />
      <menu>
        <span class="fromLeft">Pick Up</span>
        <span class="fromLeft">Shop</span>
        <span class="fromLeft">recommend</span>
      </menu>
      <nav class="userBox">
        <a href="/signIn">
          <span class="signin">SignIn</span>
        </a>
        <a href="/signUp">
          <span class="signup">SignUp</span>
        </a>
      </nav>
    </header>
    <main></main>
    <footer></footer>
  </body>
</html>
