<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pick-Up</title>
    <link rel="stylesheet" href="./skel.css" />
  </head>
  <body>
    <header class="header">
      <img src="./image/logo.png" alt="logo" class="logo" />
      <menu>
        <span class="fromLeft">PickUp</span>
        <span class="fromLeft">Shop</span>
        <span class="fromLeft">recommend</span>
      </menu>
      <nav class="userBox">
        <span class="signin">SignIn</span>
        <span class="signup">SignUp</span>
      </nav>
    </header>
    <main></main>
    <footer></footer>
  </body>
</html>
