<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
  <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <title>Bloom Poem shopping</title>
  <link rel="stylesheet" href="/css/shopMain.css" />
  <script>
    const imageRight = function (){
      $(".mainImgDiv").css("transform", "translateX(-100vw)");
    }
    const imageLeft = function (){
      $(".mainImgDiv").css("transform", "translateX(0vw)");

    }
    $(document).ready(function (){
      const cookie= document.cookie.split("=")[1]
      //쿠키가 있으면 header 변경 시작
      const header =  (cookie != null)
              ?"<span class='logout'><a href='/sign_out'>logOut</a></span><span class=\"cart\"><a href='/shopping/cart'>Cart</a></span> <span class=\"myPage\"><a href='/my_page'>MyPage</a></span> "
              :"<span class=\"signin\"><a href='/sign/sign_in'>SignIn</a></span> <span class=\"signup\"><a href='/sign/sign_up'>SignUp</a></span>"
      if(cookie != null ){
        $(".userBox").append(header);
      }else {
        $(".userBox").append(header);
      }
      $.ajax({
        url : "/shopping/many_buy_product",
        method : "get"
      }).then(r =>{
        $(".mainBar1Product").empty();
        console.log(r)
        $.each(r , (i, p)=>{
          const msg = `<div class="oneManyBuyProductBox">
                        <div class="ManyBuyProductImageBox"><img class="ManyBuyProductImage" data-name="${p.productName}" data-no="${p.productNumber}" src="/image/product/${p.productMainImage}"></div>
                        <div class="ManyBuyProductName">${p.productName}</div>
                      </div>`
          $(".mainBar1Product").append(msg)
        })
      })
      //쿠기가 있으면 header 변경 끝
      // 메뉴바 보이게하는 제이쿼리
      $(".plantMenu").on("mouseenter", ()=> {
        $(".flowerBasket").css("display", "none");
        $(".plant").css("display","block");
        $(".wreath").css("display","none")});
      $(".plant").on("mouseleave", ()=> $(".plant").css("display", "none"));
      $(".wreathMenu").on("mouseenter", ()=> {
        $(".flowerBasket").css("display", "none");
        $(".plant").css("display","none");
        $(".wreath").css("display","block")});
      $(".wreath").on("mouseleave", ()=> $(".wreath").css("display", "none"));
      $(".flowerBasketMenu").on("mouseenter", ()=> {
        $(".flowerBasket").css("display", "block");
        $(".plant").css("display","none");
        $(".wreath").css("display","none");
      })
      $(".flowerBasket").on("mouseleave", ()=> $(".flowerBasket").css("display", "none"))
      $(".soil").on("mouseenter", ()=>{
        $(".flowerBasket").css("display", "none");
        $(".plant").css("display","none");
        $(".wreath").css("display","none")
      })
      $(".vase").on("mouseenter", ()=>{
        $(".flowerBasket").css("display", "none");
        $(".plant").css("display","none");
        $(".wreath").css("display","none")
      })
      $(".mainImg").on("mouseenter", ()=>{
        $(".flowerBasket").css("display", "none");
        $(".plant").css("display","none");
        $(".wreath").css("display","none")
      })
      $(".header").on("mouseenter", ()=>{
        $(".flowerBasket").css("display", "none");
        $(".plant").css("display","none");
        $(".wreath").css("display","none")
      })
      $(".orientalOrchid").on("click", ()=>{
          $("#category").val(1);
          document.categorySelect.submit();
      })
      $(".westernOrchid").on("click" ,()=>{
        $("#category").val(2);
        document.categorySelect.submit();
      })
      $(".funeralWreath").on("click", ()=>{
        $("#category").val(3);
        document.categorySelect.submit();
      })
      $(".congratulatoryWreath").on("click",()=>{
        $("#category").val(4);
        document.categorySelect.submit();
      })
      $(".bloomBasket").on("click",()=> {
        $("#category").val(5);
        document.categorySelect.submit();
      })
      $(".bloomBox").on("click",()=> {
        $("#category").val(6);
        document.categorySelect.submit();
      })
      $(".soil").on("click",()=> {
        $("#category").val(7);
        document.categorySelect.submit();
      })
      $(".vase").on("click",()=> {
        $("#category").val(8);
        document.categorySelect.submit();
      })
      $(".searchButton").on("click" ,function () {
        $("#category").val(9);
        $("#searchValue").val($(".searchTerm").val());
        document.categorySelect.submit();
      })
      $(".plantMenu").on("click", ()=>{
        $("#category").val(10);
        document.categorySelect.submit();
      })
      $(".wreathMenu").on("click", ()=>{
        $("#category").val(11);
        document.categorySelect.submit();
      })
      $(".flowerBasketMenu").on("click", ()=>{
        $("#category").val(12);
        document.categorySelect.submit();
      })
      $(".searchTerm").on("keyup", key =>{
        if(key.keyCode ==13) {
          $("#category").val(9);
          $("#searchValue").val($(".searchTerm").val());
          document.categorySelect.submit();
        }
      })
    $(".logo").on("click" ,()=>{
      location.href="/"
    })
    $(".mainImageBox").on("click",".right",()=>{
      imageRight()
    })
    $(".mainImageBox").on("click",".left",()=>{
      imageLeft()
    })

    $(".mainBar1Product").on("click", ".ManyBuyProductImage", (e)=>{
      const productNumber = e.target.dataset.no;
      console.log(productNumber)
      $(".category").val(9);
      $("#productNumber").val(productNumber);
      document.detailForm.submit();
    })


    })


  </script>
</head>
<body>
<header class="header">
  <img src="/image/logo최종.png" alt="logo" class="logo"/>
  <menu>
    <div class="searchBox">
      <input
              type="text"
              class="searchTerm"
              placeholder="상품을 찾아보세요."
      />
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </menu>
  <nav class="userBox">

  </nav>
</header>
<main>
  <div class="categoryBar">
    <ul>
      <li class="plantMenu">식물</li>
      <li class="wreathMenu">화환</li>
      <li class="flowerBasketMenu">꽃 바구니</li>
      <li class="soil">흙, 식물영양제</li>
      <li class="vase">화병, 화분</li>
    </ul>
  </div>
  <div class="subMenu">
    <div class="plant"><div class="orientalOrchid">동양란</div><div class="westernOrchid">서양란</div></div>
    <div class="wreath"><div class="congratulatoryWreath">축하 화환</div><div class="funeralWreath">근조 화환</div></div>
    <div class="flowerBasket"><div class="bloomBasket">꽃 바구니</div><div class="bloomBox">꽃 상자</div></div>
  </div>
  <form name="categorySelect" action="/shopping/category">
    <input type="hidden" name="category" id="category" value="">
    <input type="hidden" name="searchValue" id="searchValue" value="">
  </form>
  <br/>
<!--      <div class="mainImgDiv" >-->
<!--        <div clas="slider">-->
<!--          <img src="/image/main/shopMain2.png" alter="mainImage" class="mainImage">-->
<!--          <img src="/image/main/shopMain1.png" alter="mainImage" class="mainImage">-->
<!--          <img src="/image/main/shopMain3.png" alter="mainImage" class="mainImage">-->
<!--        </div>-->
<!--      </div>-->
<!--      <span class="material-symbols-outlined left">chevron_left</span>-->
<!--      <span class="material-symbols-outlined right">chevron_right</span>-->
  <div class="slider">
    <div class="slide active">
      <img src="/image/main/shopMain2.png" alt="Slide 1">
    </div>
    <div class="slide">
      <img src="/image/main/shopMain1.png" alt="Slide 2">
    </div>
    <div class="slide">
      <img src="/image/main/shopMain3.png" alt="Slide 3">
    </div>
    <a class="prev" onclick="prevSlide()">❮</a>
    <a class="next" onclick="nextSlide()">❯</a>
  </div>

  </div>


      </div>
    </div>

  <div class="mainText">
    많이 팔리는 상품들을 아래에서 확인해보세요.
  </div>
  <br/>

  <div class="mainArea">
    <form name="detailForm" action="/shopping/product_detail">
      <input type="hidden" name="category" class="category" value="">
      <input type="hidden" name="productNumber" id="productNumber" value="">
    </form>
    <div class="mainBar1Product">
      <!--3x2그리드 시작 -->

    </div>
  </div>
  <br/>
  <div style="background-color: #fff3d4">
    <br/>
  </div>
  <div class="subArea">
    <!--2X 6 그리드 시작-->
    <div class="subImage1"><img class="plantMenu" src="/image/shopImage1.png" alt="subImage"> </div>
    <div class="subImage2"><img class="wreathMenu" src="/image/shopImage2.png" alt="subImage"></div>
    <div class="subImage3"><img class="flowerBasketMenu" src="/image/shopImage3.jpg" alt="subImage"></div>
  </div>
  <br/>
<!--  <div class ="subArea2">-->
<!--    &lt;!&ndash; 3x1 그리드 시작 &ndash;&gt;-->
<!--  </div>-->

</main>
</body>
<footer>
  <div class="footerWrapper">
    <div class="footerTop">
      <ul class="footerListText">
        <li class="footerText"><a href="/FAQ">고객센터</a></li>
        <li class="footerText"><a href="/privacy">개인정보처리방침</a></li>
      </ul>
    </div>
    <div class="footerCenter">
      <div class="line"></div>
    </div>
    <div class="footerBottom">
      <ul class="footerListText">
        <li class="footerText">사업자 명 : 블룸 포엠</li>
        <li class="footerText">대표자 명 : 임성종</li>
        <li class="footerText">
          오시는 길 : 인천 미추홀구 매소홀로488번길 6-32 태승빌딩 5층(1층
          홈플러스)
        </li>
        <li class="footerText">연락처 : 032-876-3332</li>
      </ul>
    </div>
  </div>
</footer>
<script>
  let currentSlide = 0;
  const slides = document.querySelectorAll(".slide");

  function showSlide(n) {
    slides[currentSlide].classList.remove("active");
    currentSlide = (n + slides.length) % slides.length;
    slides[currentSlide].classList.add("active");
  }

  function prevSlide() {
    showSlide(currentSlide - 1);
  }

  function nextSlide() {
    showSlide(currentSlide + 1);
  }

  setInterval(() => {
    nextSlide();
  }, 5000);



</script>
</html>
